<% include partials/header %>

<div class="container">
    <div class= "row">
        <div class="dumpster">
            <div class="jumbotron">
                <h2>Find Your Dumpster!</h2>
                <hr>
                <p>
                    Disposing off waste in the right place is crucial for the betterment of the environment. <br> 
                    Here, at Clean and Green, we provide you with the facility of finding dumpsters near your locality. 
                </p>
                <a class=" btn btn-lg dumpster-button" href="#">Nearby Dumpsters</a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="panel panel-default dumpster-panel">
                <div class="panel-heading">
                    <h2>How It Works?</h2>
                </div>
                <div class="panel-body">
                    <p>
                        You simply have to provide us your Pin-code and we will show you the list of nearby dumpsters around your locality. <br>
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-md-6 col-xs-12 postal">
            <div>
                <h2>Enter your ZIP or Postal Code</h2>
                <form action="" method="">
                    <input type="number" placeholder="Pin-code">
                    <input type="submit" class="btn btn-md pincode-button">
                </form>
        </div>
    </div>
</div>

<% include partials/footer %>
