<!DOCTYPE html>
<html>
<head>
	<title>Clean And Green</title>
	<meta charset="utf-8">
	<!-- Bootstrap -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="/stylesheets/main.css">
	<!-- FontAwesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<!--Font for navbar-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
	
</head>
<body>
    <header>
        <div class='home-header-img'>
            <nav class="navbar navbar-default" >
        		<div class="container-fluid" id="navbar">
        			<!-- Brand and toggle get grouped for better mobile display -->
        			<div class="navbar-header">
        				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        					<span class="sr-only">Toggle navigation</span>
        					<span class="icon-bar"><span></span></span>
        					<span class="icon-bar"></span>
        					<span class="icon-bar"></span>
        				</button>
        				<a class="navbar-brand active" href="/home">Clean And Green</a>
        			</div>
        
        			<!-- Collect the nav links, forms, and other content for toggling -->
        			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        				<ul class="nav navbar-nav">
        					<li><a href="/drives">Drives</a></li>
        					<li><a href="/think-green">Think-Green</a></li>
        					<li><a href="/blog">Blog</a></li>
        					<li><a href="/dumpster">Dispose-waste</a></li>
        					<!--<li><a href="/recycle">Recycle-waste</a></li>-->
        				</ul>
        					
        				<ul class="nav navbar-nav navbar-right">
        					<% if(!currentUser){ %>
        						<li><a href="/login">Login</a></li>
        						<li><a href="/register">Sign-Up</a></li>	
					        <% } else{ %>
        						<li><a><em><%= currentUser.username %></em></a></li>
        						<li><a href="/logout">Logout</a></li>
        					<% } %>
        				</ul>
        			</div><!-- /.navbar-collapse -->
        		</div><!-- /.container-fluid -->
        	</nav>

            
            <div class="home-caption" id="faderHome" style="display:none;">
                <span class="border">Give the world good energy!</span>
            </div> 
            
            
        </div>
    </header>
    
    <!--Cleaning Drives-->
    <div class='secondary'>
        <h3 class='secondary-header'><a href="/drives">Cleaning Drives</a></h3>
        <p class='secondary-content'>We promote local initiatives that lead to the betterment of the environment.These initiatives include beach cleaning drives,
        tree plantation campaigns, beautification drives and many more. Anyone above the age of 15 can volunteer in these drives.
        <br>
        Be a part of one today!</p>
    </div>
    
    <div class='container-fluid'>
        <div class='row'>
        <!--Image 2-->
        <div class='home-img-2 image-wrapper'></div>
        </div>
        
        <!--Think Green-->
        <div class='row'>
            <div class='secondary'>
                <h3 class='secondary-header'><a href="/think-green">Think Green <i class='fab fa-pagelines'></i></a></h3>
                <p class='secondary-content'>
                Think Green includes ways in which we can help clean and maintain our local surroundings.
                Finding the right residential waste and recycling solutions help in making a clean and healthy environment!</p>
            </div>
        </div>
        
        <div class='row'>
        <!--Image 3-->
        <div class='home-img-3 image-wrapper'></div>
        </div>
        
        <!--Blog-->
        <div class='row'>
            <div class='secondary'>
                <h3 class='secondary-header'><a href="/blog">Pen down your thoughts!</a></h3>
                <p class='secondary-content'>
                Communication facilitates human connections and allows us to learn, grow and progress. 
                It’s not just about speaking or reading, but understanding what is being said.
                Ideas develop, word is spread.
                <br>Checkout our blog today!</p>
            </div>
        </div>
        
        <div class='row'>
        <!--Image 4-->
        <div class='home-img-4 image-wrapper'></div>
        </div>
        
        <!--Dispose-Waste-->
        <div class='row'>
            <div class='secondary'>
                <h3 class='secondary-header'><a href="#">Dispose your Waste!</a></h3>
                <p class='secondary-content'>
                The most important reason for waste collection is the protection of the environment and the health of the population.
                Find out the nearest dumpster location and be sure to dispose your waste in the right place :)</p>
            </div>
        </div>
        
        <div class='row'>
        <!--Image 5-->
        <div class='home-img-5 image-wrapper'></div>
        </div>
        
        <!--Recycle-Waste-->
        <div class='row'>
            <div class='secondary'>
                <h3 class='secondary-header'><a href="#">Recycle Waste</a></h3>
                <p class='secondary-content'>
                 Recycling helps to reduce the pollution caused by waste.
                 Recycling saves energy because the manufacturer doesn't have to produce something new from raw natural resources.
                 <br>One bin, multiple benefits!</p>
            </div>
        </div>
    </div>
    
    <footer>
        <div class='container-fluid'>
            <div class='row text-center footer-css'>
                &copy; Team RNA - K J Somaiya College Of Engineering
            </div>
        </div>
    </footer>
    
<% include partials/footer %>