<% include partials/header %>
    <div class="container">
		<div class="row">
      <div class="panel panel-default">
          <div class="panel-body">
        <div class="col-sm-8 tg-intro">
          <section>
            <h1>Think Green</h1>
            <p>Thinking green means being aware of our interconnectedness with the world and reflecting on the unintended damage we cause nature in the daily course of our lives. Thinking green leads to acting green - taking corrective action to make environmental responsibility a reality.<br>
            "Every person is the right person to act. Every moment is the right moment to begin". <br>
            The Time to Act is Now!</p>     
          </section>
        </div>
        <div class="col-sm-4 tg-carousel">
    			<div id="myCarousel" class="carousel slide" data-ride="carousel">
      		<!-- Indicators -->
      				<ol class="carousel-indicators">
        				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
       			 		<li data-target="#myCarousel" data-slide-to="1"></li>
        				<li data-target="#myCarousel" data-slide-to="2"></li>
      				</ol>

      		<!-- Wrapper for slides -->
      				<div class="carousel-inner">
        				<div class="item active">
         					 <img src="/images/What.jpg" alt="reduce">
         					 <div class="carousel-caption">
         					 	<h3><a href="#reduce">Reduce</a></h3>
         					 </div>
        				</div>

        				<div class="item">
        					<img src="/images/reuse.jpg" alt="Chicago">
        					<div class="carousel-caption">
         					 	<h3><a href="#reuse">Reuse</h3>
         					 </div>
        				</div>

        				<div class="item">
          					<img src="/images/recycle.jpg" alt="New York">
          					<div class="carousel-caption">
         					 	<h3><a href="#recycle">Recycle</h3>
         					 </div>
        				</div>
      				</div>

      		<!-- Left and right controls -->
      				<a class="left carousel-control" href="#myCarousel" data-slide="prev">
      	  				<span class="glyphicon glyphicon-chevron-left"></span>
        				<span class="sr-only">Previous</span>
      				</a>
     			 	<a class="right carousel-control" href="#myCarousel" data-slide="next">
        				<span class="glyphicon glyphicon-chevron-right"></span>
        				<span class="sr-only">Next</span>
     				</a>
    			</div>

    		</div>
      </div>
     </div>
    </div>

    <div class="row">
      
        <article>
          <div class="panel panel-default tg-panel">
          <div class="panel-heading">
            <h2 id="reduce"><i class="fas fa-trash"></i>&nbsp;Reduce</h2>
          </div>
          
          <div class="panel-body">

	          <div class="video-responsive col-sm-4">
		          <iframe width="350" height="200" src="https://www.youtube.com/embed/Yg1tEKILiR4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		      </div>

	          <div class="tg-content col-sm-8">
		          Reduce always comes first because reducing what we use and what we waste means using fewer natural resources and less energy. Less waste also means less land put aside for burying waste in landfills. Ways to reduce waste include purchasing goods that use less packaging, sharing or renting things (like carpet cleaners) that aren't needed regularly instead of buying them, and buying household cleansers that do not contain hazardous ingredients.
	          </div>

	      </div>
	      </div>
          
        </article>

        <article>
          <div class="panel panel-default tg-panel">
          <div class="panel-heading">
            <h2 id="reuse"><i class="fas fa-globe-asia"></i>&nbsp;Reuse</h2>
          </div>
          
          <div class="panel-body">
	          <div class="video-responsive col-sm-4">
		          <iframe width="350" height="200" src="https://www.youtube.com/embed/tRVVU1hRwgg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		      </div>
	          <div class="tg-content col-sm-8">
		          Reuse comes second because reusing items, using them twice or many times instead of just once, keeps them from becoming waste. Some ideas for reuse include using glass or plastic jars after they're empty, or taking a cloth sack to the store when you shop (you don't need a bag, and you can use the sack again the next time).
	          </div>
          </div>
          </div>
        </article>

        <article>
          <div class="panel panel-default tg-panel">
          <div class="panel-heading">
            <h2 id="recycle"><i class="fas fa-recycle"></i>&nbsp;Recycle</h2>
          </div>
          
          <div class="panel-body">
	         <div class="video-responsive col-sm-4">
		          <iframe width="350" height="200" src="https://www.youtube.com/embed/qK9OOtRd9HM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		      </div>
	          <div class="tg-content col-sm-8">
		          Recycle comes third, but not last. Recycling, converting used items back into raw materials, then making new products with them, conserves our valuable natural resources and reduces the need to put as much waste into our landfills.  Many items can be made from recycled materials—such as paper, notebooks, playground equipment, furniture, and carpet.
	          </div>
          </div>
          </div>
        </article>
      </div>

      <div class="row">
        <article>
          <div class="panel panel-default tg-panel">
            <div class="panel-body">
              <div class="col-sm-6 tg-do tg-content">
                <h2 style="text-align: center;">Do's</h2>
                  <ul>
                    <li>Respect and contribute positively to local communities</li>
                    <li>Turn off lights when you leave a room</li>
                    <li>Make sure your working area is not over/under heated</li>
                    <li>Go back to basics and make your own cleaning supplies or purchase less toxic household cleaners</li>
                    <li>Read your annual tap water quality report. Every year, tap water suppliers publish their water quality tests.</li>
                    <li>Use a push mower for the lawn.  Besides getting a great workout, push mowers avoid emitting air pollutants that are generated by the exhaust of gasoline-powered lawn and garden equipment.</li>
                    <li>Protect yourself against carbon monoxide (CO) poisoning by installing at least one CO alarm in your home</li>
                  </ul>
              </div>
              <div class="col-sm-6 tg-dont tg-content">
                <h2 style="text-align: center;">Don'ts</h2>
                  <ul>
                    <li>Be wasteful in your work: use more office supplies than you really need</li>
                    <li>Leave taps running or dripping</li>
                    <li>Set the heating and cooling system at a temperature that is either too high or too low</li>
                    <li>Buy make-up and personal care products loaded with toxins</li>
                    <li>Expose yourself unnecessarily to pesticides. Opt for organic foods and do not spray pesticides indoors or outdoors if a pest problem isn’t present. Get rid of left over pesticides at hazardous waste collection centers.</li>
                    <li>Let dust pile up in your home, as it can become a host for contaminants. Clean regularly with safe cleaning products!</li>
                  </ul>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
<% include partials/footer %>