<% include ../partials/header %>
    
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="thumbnail ds">
                <img class="img-responsive" src="../images/reuse.jpg">
                <div class="ds-clearfix">
                    <h3 class="ds-caption">date</h3>
                    <h3 class="ds-caption" align="center">name</h3>
                    <h3 class="ds-caption" align="right">location</h3>
                </div>
                    
                    <p align="center">
                        <em>organised by:username</em>
                    </p> 
                
            </div>
            
        </div>
        
        <div class="col-md-5">
            <div class="panel panel-default tg-panel">
                
                    <div class="panel-heading">
                        <h2>About the venue</h2>
                    </div>
                    <div class="panel-body">
                        <div class="thumbnail">
                            <img src="https://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2018/05/27/Pictures/_c80143b2-61db-11e8-8da7-089610bcbead.jpg">
                        </div>
                        <div align="center"><button class="btn btn-success ds-read">Details</button></div>
                        
                         <p style="display:none" class="ds-venue">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam quis quam.
                         Nullam sapien sem, ornare ac, nonummy non, lobortis a enim. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. 
                         Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. 
                         Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Praesent dapibus. Praesent in mauris eu tortor porttitor accumsan. Maecenas aliquet accumsan leo. Pellentesque pretium lectus id turpis. Sed ac dolor sit amet purus malesuada congue. </p>
                    
                    </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="#">Add New Comment</a>
                </div>
                
                    <div class="row">
                        <div class="col-md-12">
                            <strong> username </strong>
                            <span class="pull-right">10 days ago</span>
                            <p>
                                 - comment
                            </p>
                            
                        </div>
                    </div>
            </div>
            
        </div>
    </div>
</div>

<% include ../partials/footer %>