<% include ../partials/header %>

    <div class="container">
		<div class='drives'>
		    <div class='jumbotron'>
		       <h2>Upcoming Drives!</h2>
    			<hr>
    			<p>
				Here we promote local initiatives that lead to the betterment of the environment. These initiatives include beach cleaning drives, tree plantation campaigns, beautification drives, etc. Anyone above the age of 15 can volunteer in these drives.<br> Click on the button below to organise your own campaign:  
			    </p>
			    <a class="btn btn-lg organise-button" href='/drives/new'>Organise</a> 
		    </div>
		</div>
	</div>

    <div class="container">
		<div class="row text-center" style="display:flex; flex-wrap:wrap;">
			<div class="col-md-4 col-sm-12 ">
				<div class="thumbnail zoom">
					<img  src="https://images.unsplash.com/photo-1511949817959-d24d516a8f8e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7ff012e291ab08145b3f7a995cd644ef&auto=format&fit=crop&w=500&q=60">
					<div class="drives-caption">
						<h4> Beach-cleaning </h4>
						<h4> 14-08-18</h4>
					</div>
					<p>
						<a href="/drives/1" class="btn drives-btn">Read More</a>
					</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-12 ">
				<div class="thumbnail zoom">
					<img  src="https://images.unsplash.com/photo-1511949817959-d24d516a8f8e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7ff012e291ab08145b3f7a995cd644ef&auto=format&fit=crop&w=500&q=60">
					<div class="drives-caption">
						<h4> Beach-cleaning </h4>
						<h4> 14-08-18</h4>
					</div>
					<p>
						<a href="/drives/2" class="btn drives-btn">Read More</a>
					</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-12 ">
				<div class="thumbnail zoom">
					<img  src="https://images.unsplash.com/photo-1511949817959-d24d516a8f8e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7ff012e291ab08145b3f7a995cd644ef&auto=format&fit=crop&w=500&q=60">
					<div class="drives-caption">
						<h4> Beach-cleaning </h4>
						<h4> 14-08-18</h4>
					</div>
					<p>
						<a href="/drives/3" class="btn drives-btn">Read More</a>
					</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-12 ">
				<div class="thumbnail zoom">
					<img  src="https://cdn.pixabay.com/photo/2018/08/11/12/32/white-ling-3598577__340.jpg">
					<div class="drives-caption">
						<h4> Beach-cleaning </h4>
						<h4> 14-08-18</h4>
					</div>
					<p>
						<a href="/drives/4" class="btn drives-btn">Read More</a>
					</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-12 ">
				<div class="thumbnail zoom">
					<img  src="https://cdn.pixabay.com/photo/2018/08/11/12/32/white-ling-3598577__340.jpg">
					<div class="drives-caption">
						<h4> Beach-cleaning </h4>
						<h4> 14-08-18</h4>
					</div>
					<p>
						<a href="/drives/5" class="btn drives-btn">Read More</a>
					</p>
				</div>
			</div>
		</div>
	</div>

<% include ../partials/footer %>