/*Navbar CSS*/
html{
	height:100%;
}
body{
    margin:0;
    padding:0;
}
#navbar{
	background-color: #015249;
	color: #fff;
}
.navbar{
	margin-bottom: 0px;
}
.navbar-default{
    border:0px;
}
.navbar-default .navbar-nav li a{
	color: #fff;
	font-family: "Montserrat",sans-serif;
	font-size: 16px;
}
.navbar-default .navbar-nav li:hover{
	border-bottom: 3px solid  #fff;
	color: #fff;
}
.navbar-default .navbar-nav li a:hover{
	color:#fff;
}
.navbar-header .navbar-brand{
	color: #fff;
}
.navbar-header .navbar-brand:hover{
	color:#fff;
}
.icon-bar{
	color: #fff;
}


/*SignUp page*/
.signup{
    background:#015249;
}
.signup:hover{
   background:#57BC90; 
}

/*Login page*/
.login{
    background:#015249;
}
.login:hover{
   background:#57BC90; 
}


/*Home Page*/
.home-header-img {
	background-image: url('../images/home1.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	background-position: center center;
	background-attachment: fixed;
	opacity:0.8;
}
.home-caption {
	/*position: absolute;*/
	left: 0;
	margin-top:25%;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
}
.home-caption .border {
	border-radius: 8px;
	background-color: #77C9D4;
	color: #fff;
	padding: 18px;
	font-size: 18px;
	font-family: "Montserrat",sans-serif;
}

.secondary{
	color: #777;
	background-color:white;
	text-align:center;
	padding:50px 80px;
}
.secondary-header{
	text-align:center;
	font-family: "Montserrat",sans-serif;
	font-weight: 600;
	margin-bottom: 20px;
	margin-top: 0px;
	font-size: 25px;
}
.secondary-header a{
	color: #015249;
	text-decoration: none;
}
.secondary-content{
	color:#0F1626;
	font-family: serif;
	font-size: 20px;
}
.image-wrapper{
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	background-position: center center;
	background-attachment: fixed;
	opacity:0.8;
	min-height: 600px;
}
.home-img-2{
	background-image: url('../images/home2.jpeg');
}
.home-img-3{
	background-image: url('../images/home3.jpg');
}
.home-img-4{
	background-image: url('../images/home4.jpg');
}
.home-img-5{
	background-image: url('../images/home5.jpg');
}
.footer-css{
	background-color: #015249;
	font-family: "Montserrat",sans-serif;
	color: #fff;
	padding: 10px;
	font-size: 16px;
}

/*Blog Page*/
/*Blog Home*/
.blog .jumbotron{
	margin-top: 25px;
	font-family: serif;
	background:#ecf0f1;
	color: #2c3e50;
	text-align: center;
}
.new-blog-btn{
	background: #77C9D4;
	color:#fff;
}
.blog-image{
	padding: 0;
}
.blog-text{
	font-family: serif;
}
.blog-title{
	font-size: 20px;
	font-family: "Montserrat",sans-serif; 
	color: #008080;
}
.blog-content{
	font-size: 18px;
}
.blog-btn,.ds-read{
	background: #fff;
	color: #0E6EB8;
	border-color: #0E6EB8;
	margin-top: 10px;
}
.blog-btn:hover,.ds-read:hover{
	background: #fff;
	color: #008080;
	border-color: #008080;
	margin-top: 10px;
}
.blog-btn:active,.ds-read:active{
	background: #fff;
	color: #008080;
	border-color: #008080;
	margin-top: 10px;
}
.blog-btn:visited,.ds-read:visited{
	background: #fff;
	color: #008080;
	border-color: #008080;
	margin-top: 10px;
}

/*New Blog*/
.blog-textarea{
	resize: vertical;
}

/*Blog Details Page*/
.blog-details .panel-heading{
	font-size: 20px;
	font-family: "Montserrat",sans-serif; 
	color: #008080;
	text-align: center;
}
.panel-body .thumbnail{
	padding: 0;	
}
.panel-body .blog-body{
	padding: 20px;
	font-family: serif;
	font-size:18px;
}
.panel-body .blog-author{
	font-family: "Montserrat",sans-serif; 
	color: #008080;
	font-size: 15px;
}
.panel-body .blog-author .blog-date{
	padding-left: 13px;
}
.blog-icons{
	font-size: 15px;
	color: #008080;
}
.delete-form{
	display: inline;
}

/*Drives Page - Main*/
.zoom {
	margin: 20px 1.6%; 
    transition: transform .2s;
}
.zoom:hover {
    transform: scale(1.1); 
}
.drives .jumbotron{
	margin-top: 25px;
	font-family: serif;
	background:#ecf0f1;
	color: #2c3e50;
	text-align: center;
}
.organise-button{
	background: #77C9D4;
	color:#fff;
}
hr{
	width: 50%;
	border-color: #015249;
}
.drives-caption{
	font-family: "Montserrat",sans-serif; 
	color: #008080;	
}
.drives-btn{
	background: #fff;
	color: #0E6EB8;
	border-color: #0E6EB8;
	margin-top: 10px;
	font-family: serif;
}
.drives-btn:hover{
	background: #fff;
	color: #008080;
	border-color: #008080;
	margin-top: 10px;
	font-family: serif;
}
.drives-btn:active{
	background: #fff;
	color: #008080;
	border-color: #008080;
	margin-top: 10px;
	font-family: serif;
}
.drives-btn:visited{
	background: #fff;
	color: #008080;
	border-color: #008080;
	margin-top: 10px;
	font-family: serif;
}
.hours{
	color: #6b6e72;
	padding-left:7px;
	margin-top: 10px;
}
 
/*Drive Details Page*/
.thumbnail.ds img{
    width:100%;
}

.ds-venue{
	font-family: serif;
	padding-top: 10px;
	font-size:15px;
	color: #323233;
}
.ds-read{
	border-radius: 10px;
}

#ds-name{
	text-transform: uppercase;
	font-family: "Montserrat",sans-serif;
	color: #015249;
}

#volunteer{
	font-family: "Montserrat",sans-serif;
	background: #015249;
	color:#fff;
	width: 100%;
	max-width: 100%;
	margin-top: 10px;
	height: 40px;
	border: 0px
}


/*Think Green*/
section{
	color: #015249;
	text-shadow: #F0F0F0;
	text-align: center;
	font-size: 20px;
	font-family: serif;
}
.carousel-inner .item img{
	width: 100%;
	max-height: 500px;
}
.container{
	margin-top: 30px;
}
.item a{
	color: #fff;
}
.tg-carousel{
	float: right;
	height: 100%;
}
.tg-intro{
	float: left;
}
iframe {
	width: 100%;
	min-height: 200px;
	height:auto;
}
article{
	clear: both;
}
article h2{
	color: #015249;
}
.tg-content{
	min-height: 200px;
	height:auto;
	background-color: #fff;
	color: #015249;
	font-family: serif;
	font-size: 18px;
	vertical-align: middle;
}
.tg-panel .panel-heading{
	padding: 10px;
	margin: 0px;
}
.tg-panel .panel-heading h2{
	margin: 0px;
	font-family:"Montserrat",sans-serif;
	font-size: 23px;
	padding-left: 15px;
}
.tg-content h2{
	font-family:"Montserrat",sans-serif
}

/*Dumpster*/

.dumpster .jumbotron{
	/*margin-top: 25px;*/
	margin-left: 10px;
	margin-right: 10px;
	font-family: serif;
	background:#ecf0f1;
	color: #2c3e50;
	text-align: center;
}

.dumpster-button{
	background: #77C9D4;
	color:#fff;
}

.pincode-button{
	background: #77C9D4;
	color:#fff;
	display: block;
	margin-top: 5px;
}

.dumpster-panel{
	/*margin-left: 15px;*/
	/*float: left;*/
}

.dumpster-panel .panel-heading{
	/*padding: 10px;*/
	margin: 0px;
}
.dumpster-panel .panel-heading h2{
	margin: 0px;
	font-family:"Montserrat",sans-serif;
	font-size: 23px;
	padding-left: 15px;
}

.postal{
	/*padding: 25px;*/
	background: #ecf0f1;
	/*float: right;*/
	/*margin-right: 15px;*/
	/*margin-bottom: 15px;*/
}

.postal h2{
	margin: 0px;
	font-family:"Montserrat",sans-serif;
	font-size: 23px;
	padding: 15px;
}

.postal form{
	padding: 15px;
}

/*Error 404*/
#notfound {
  position: relative;
  height: 100vh;
}
#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.notfound {
  max-width: 520px;
  width: 100%;
  text-align: center;
  line-height: 1.4;
}
.notfound .notfound-404 {
  height: 190px;
}
.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 146px;
  font-weight: 700;
  margin: 0px;
  color: #232323;
}
.notfound .notfound-404 h1>span {
  display: inline-block;
  width: 120px;
  height: 120px;
  background-image: url('../images/error.png');
  background-size: cover;
  -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
          transform: scale(1.4);
  z-index: -1;
}
.notfound h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  color: #232323;
}
.notfound p {
  font-family: 'Montserrat', sans-serif;
  color: #787878;
  font-weight: 300;
}
.notfound a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  padding: 12px 30px;
  font-weight: 700;
  background-color: #015249;
  color: #fff;
  border-radius: 40px;
  text-decoration: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.notfound a:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 115px;
  }
  .notfound .notfound-404 h1 {
    font-size: 86px;
  }
  .notfound .notfound-404 h1>span {
    width: 86px;
    height: 86px;
  }
}

