<% include ../partials/header %>
    <div class='container'>
        <div class='row'>
            <div class='panel panel-default blog-details' style='width:80%;margin:25px auto'>
                <div class='panel-heading'><%= blog.bTitle %></div>
                <div class='panel-body'>
                    <div class='thumbnail' style='width:70%;margin:0 auto'>
                        <img src='<%= blog.bImage %>'>
                    </div>
                    <div class='blog-body'>
                        <p> <%= blog.bContent %>
                        </p>
                    </div>
                    <div class='blog-author pull-right'>~ By username<br><span class='blog-date'><%= blog.bDate.toDateString() %></span></div>
                </div>
            </div>
        </div>
    </div>
<% include ../partials/footer %>