<% include ../partials/header %>
    <div class='container blog'>
        <div class='jumbotron'>
            <h2>Words matter!</h2>
            <hr>
            <p>It’s not just about speaking or reading, but understanding what is being said. Ideas develop, word is spread. <br>Your stories, your updates!</p>
            <p><a class="btn btn-lg new-blog-btn" href="/blog/new" role="button"><i class="fas fa-pen"></i>&nbsp; Write your own blog</a></p>
        </div>
        
        <% blogs.forEach(function(blog){ %>
        <div class='row'>
            <div class='panel panel-default'>
                <div class='panel-body'>
                    <div class='col-md-4 col-sm-12'>
                        <div class='thumbnail blog-image'>
                            <img src='<%= blog.bImage %>'>
                        </div>
                    </div>
                    <div class='col-md-8 col-sm-12'>
                        <div class='blog-text'>
                            <div class='blog-title'><%= blog.bTitle %></div>
                            <div class='blog-content'>
                                <%= blog.bContent.substring(0, 510) %>...
                            </div>
                            <a href="/blog/<%= blog._id %>" class='btn btn-primary blog-btn pull-right'>Continue Reading&nbsp;<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% }); %>
        
    </div>

<% include ../partials/footer %>